
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&family=Ubuntu:wght@700&display=swap');

body{
    background-color: rgb(195, 236, 255);
    text-align: center;
}

.text { font-size:4vw; color:rgb(40, 44, 65); font-family: 'Signika', sans-serif;}
.title {font-size:10vw; color:rgb(0, 1, 88); font-family: 'Ubuntu', sans-serif;}
.title2 {font-size:100%; color:rgb(0, 1, 88); font-family: 'Ubuntu', sans-serif;}

.ubuntu{font-family: 'Ubuntu', sans-serif;}
.signika{font-family: 'Signika', sans-serif}

.space{color:rgb(237, 249, 255); }

.page_title {font-size:7vw; 
             color:rgb(0, 1, 88); 
             font-family: 'Ubuntu', sans-serif;
}    

.ora_button {   font-size:4vw; 
            border-style:solid; 
            border-color:rgb(223, 104, 0); 
            background-color:rgb(223, 104, 0);
            font-family: 'Ubuntu', sans-serif;  
            color: white;   
            padding: 10px;
            text-align: center;
            height: 8vw;
            width: 40vw;
            
}
.blue_button {   font-size:4vw; 
    border-style:solid; 
    border-color:rgb(0, 80, 177);
    background-color:rgb(0, 80, 177);
    font-family: 'Ubuntu', sans-serif;  
    color: white;   
    padding: 10px;
    text-align: center;
    height: 8vw;
    width: 40vw;
}

.skillsBtn {    font-size:2.75vw; 
                border-style:solid; 
                border-color:rgb(0, 80, 177);
                background-color:rgb(0, 80, 177);
                font-family: 'Ubuntu', sans-serif;
                color: white;   
                padding: 10px;
                text-align: center;
                height: 5vw;
                width: 40vw;
}

.backBtn {      font-size:2.5vw; 
                border-style:solid; 
                border-color:rgb(223, 104, 0); 
                background-color:rgb(223, 104, 0); 
                font-family: 'Ubuntu', sans-serif;
                color: white;   
                padding: 10px;
                text-align: center;
                height: 5vw;
                width: 16vw;
}

.skills_backBtnSpace {      
    font-size:3vw; 
    border-style:solid; 
    border-color:rgb(195, 236, 255);
    background-color:rgb(195, 236, 255);
    color: rgb(0, 51, 76); 
    padding: 10px;
    height: 3vw;
    width: 64vw;
}

.person_backBtnSpace {      
    font-size:3vw; 
    border-style:solid; 
    border-color:rgb(195, 236, 255);
    background-color:rgb(195, 236, 255);
    color: rgb(0, 51, 76); 
    padding: 10px;
    height: 6vw;
    width: 50vw;
}


.btn {          font-size:30px; 
                border-style:solid; 
                border-color:rgb(0, 80, 177);
                background-color:rgb(0, 80, 177);
                font-family: 'Ubuntu', sans-serif;
                color: white;   
                padding: 10px;
                text-align: center;
                height: 150px;
                width: 100px;
}



.name{
    font-size:2vw; 
    color:rgb(255, 255, 255); 
    background-color:rgb(0, 1, 88); 
    font-family: 'Signika', sans-serif;
    border-style: solid; 
    border-color:rgb(0, 1, 88); 
    height: 3.5vw;
    width: 30vw;
}

.skillHead{
    font-size:2vw; 
    color:rgb(255, 255, 255);
    background-color:rgb(0, 1, 88);
    font-family: 'Signika', sans-serif;
    border-style: solid; 
    border-color:rgb(0, 1, 88); 
    height: 3.5vw;
    width: 50vw;
}

.skillHead2{
    font-size:2vw; 
    color:rgb(0, 1, 88);
    background-color:rgb(255, 255, 255);
    font-family: 'Signika', sans-serif;
    border-style: solid; 
    border-color:rgb(0, 1, 88); 
    height: 3.5vw;
    width: 50vw;
}

.skillDescrip{
    font-size:2.5vw; 
    color:rgb(0, 1, 88); 
    background-color:rgb(255, 255, 255); 
    font-family: 'Signika', sans-serif;
    border-style: solid; 
    border-color:rgb(0, 1, 88); 
    height: 5vw;
    width: 50vw;
}
.connect_status{
    font-size:2vw; 
    color:rgb(255, 255, 255); 
    background-color:rgb(83, 83, 83); 
    font-family: 'Signika', sans-serif;
    border-style: solid; 
    height: 3vw;
    width: 80.5vw;
}

.nameSpace{
    color:rgb(255, 255, 255); 
    background-color:rgb(0, 1, 88);
    width: 55vw;
    height: 5vw;
    font-size: 3vw;
    border-style: solid; 
    border-style: rgb(0, 1, 88);
    font-family: 'Signika', sans-serif;
}
